@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.right-container {
    background: linear-gradient(-45deg, #3877ff, #262525 70%);
    width: 30%;
    height: 100vh;
    display: flex;                                                                      
}

.portfolio-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.navlist {
    display: flex;
    gap: 3.5rem;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000; /* Ensure it is above other content */
    background: #262525;
}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}

.left-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.left-container {
    background: #262525;
    width: 70%;
    padding-left: 3rem;
}

.icons .fa-brands {
    color: #bbb;
    font-size: 1.7rem;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.content {
    margin-left: 4rem;
}

.content .intro {
    font-size: 1.5rem;
    color: #fff;
}

.content .intro span {
    color: #5DB9EE;
}

.content h1 {
    font-size: 4rem;
    color: #5DB9EE;
}

.content .detail {
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}

.btn-container button {
    border: .1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding: .8rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

button:nth-child(1) {
    background: #5DB9EE;
    color: #262525;
}

button:nth-child(2) {
    background: transparent;
    color: #5DB9EE;
    margin-left: 2rem;
}

button:nth-child(1):hover {
    background: transparent;
    color: #5DB9EE;
}

button:nth-child(2):hover {
    background: #5DB9EE;
    color: #262525;
}

.icons .fa-brands:hover {
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.design .circle {
    aspect-ratio: 1;
    /*so that that height of the circle childs will be same overall */
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.circle:nth-child(1) {
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 38rem;
}

.circle:nth-child(2) {
    background-image: url("images/profile.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: .8rem solid white;
    width: 30rem;
    box-shadow: 0 0 1rem #fff,
        inset 0 0 1rem #fff,
        0 0 2rem #3877ff,
        inset 0 0 2rem #3877ff,
        0 0 4rem #3877ff,
        inset 0 0 4rem #3877ff;
}

.navlist li a::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    /*underline hide when no hover*/
    transform-origin: bottom right;
    transition: transform .5s;
}

.navlist li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media (max-width: 480px) {
    .navlist {
        padding-top: 0;
        gap: .5rem;
    }

    .navlist li a {
        font-size: 12px;
    }

    .content {
        margin-left: 0;
    }

    .content h1 {
        font-size: 1rem;
        padding-left: 1rem;
    }

    .content .detail {
        font-size: .5rem;
        color: #fff;
        max-width: 7rem;
        margin: 1.1rem 0 2rem 0;
        padding-left: 1rem;
        line-height: 0.7rem;
    }

    .content .intro {
        font-size: .7rem;
        padding-top: 0px;
        padding-left: 1rem;
    }

    .icons .fa-brands {
        color: #bbb;
        font-size: 1.1rem;
        padding-top: 0px;
    }

    .design .circle:nth-child(1) {
        width: 8rem;
    }

    .design .circle:nth-child(2) {
        width: 8rem;
        border: .2rem solid white;
        box-shadow: 0 0 1rem #fff,
            inset 0 0 1rem #fff,
            0 0 2rem #3877ff,
            inset 0 0 2rem #3877ff,
            0 0 4rem #3877ff;
    }

    .portfolio-container {
        padding-top: 0;
    }

    .left-container {
        width: 70%;
        padding: 1rem;
    }

    .icons {
        gap: 1rem;
    }

    .btn-container button {
        font-size: .6rem;
        padding: 0.4rem;
    }
}

@media (max-width: 768px) {
    .circle:nth-child(2) {
        border: 0.2rem solid white;
        width: 15rem;
    }

    .circle:nth-child(1) {
        width: 19rem;
    }
    /* .content h1 {
        font-size: 1.5rem;
    } */
    /* .content .intro {
        font-size: 1rem;
    }
    .content .detail {
        font-size: .8rem;
        max-width: 16rem;
        line-height: 1.2rem;
    } */
}
@media (max-width: 1440px){
    .circle:nth-child(2) {
        border: 0.2rem solid white;
        width: 15rem;
    }

    .circle:nth-child(1) {
        width: 19rem;
    }
}
@media (max-width: 1024px){
    .circle:nth-child(2) {
        border: 0.2rem solid white;
        width: 12rem;
    }

    .circle:nth-child(1) {
        width: 16rem;
    }
    
}


.about-container{
    /* background: #fff; */
    width: 100%;
    /* height: 90vh; */
    /* background: linear-gradient(to bottom, #262525 7%, #3877ff 167%); */
    background: linear-gradient(to bottom, #262525 9%, rgba(4, 5, 5, 0.7) 70%), url('images/background-1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1000; /* Ensure it is above other content */
    /* position: fixed; */
}
.overlay-1 {
    text-align: center;
    padding: 50px 250px 30px 250px;
}
.overlay-1 h1 {
    font-size: 3rem;
    color: #5db9ee;
}

.overlay-1 .detail {
    font-size: 1rem;
    color: #c9c9c9;
    line-height: 1.8rem;
}
 .h-line{
    border-bottom: 3px solid #5DB9EE;
    padding: 10px;
    width: 20%;
    margin: 0 auto; /*to make border line at center */
}
@media (max-width: 1200px) {
    .overlay-1 {
        padding: 80px 4%;
    }

    .overlay-1 .detail {
        font-size: 0.9rem;
    }

    .h-line {
        width: 25%;
    }
}

@media (max-width: 992px) {
    .overlay-1 {
        padding: 60px 3%;
    }

    .overlay-1 .detail {
        font-size: 0.85rem;
    }
}

@media (max-width: 768px) {
    .overlay-1 {
        padding: 40px 2%;
    }

    .overlay-1 .detail {
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

@media (max-width: 576px) {
    .overlay-1 {
        padding: 20px 1%;
    }


    .overlay-1 h1 {
        font-size: 2rem;
    }
    .overlay-1 .detail {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    /* .about-container{
        height: 230vh;
    } */

}




/* Card Container */
.cards-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 90px;
    /* padding: 20px; */
    margin-top: 30px;
    padding: 0px 30px 60px 30px;
}

/* Individual Card */
.card {
    background-color: #262525;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 3px #b1aeae;
    overflow: hidden;
    /* width: calc(25% - 20px); */
    max-width: 320px;
    text-align: center;
    height: 400px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card h2 {
    font-size: 1.5rem;
    color: #d5d1d1;
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
    color: #b1aaaa;
    padding: 0 10px 10px;
}
.btn-container-card button {
    border: .1rem solid #5DB9EE;
    font-size: .8rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

.card:hover {
    transform: scale(1.05); /* Slightly increase size */
    box-shadow: 0px 0px 10px 10px #b1aeae; /* Increase shadow */
}

@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.333% - 20px); /* 3 cards in a row */
    }
}

@media (max-width: 992px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* 2 cards in a row */
    }
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center cards horizontally */
    }
    .card {
        flex: 1 1 100%; /* 1 card per row */
        max-width: 100%; /* Full width */
    }
}



/* Service Container */
.service-container {
    padding: 20px;
    margin-top: 0px;
    background: #000000;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    margin-bottom: 30px;
}

.service-card {
    position: relative;
    overflow: hidden;
    background-color: #262525;
    /* border-radius: 8px; */
    box-shadow: 0px 0px 3px 3px #b1aeae;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.service-card img {
    width: 100%;
    height: 400px;
    display: block;
}

.service-card:hover .shutter {
    transform: translateY(0);
}

.shutter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.shutter-text {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.service-card:hover .shutter-text {
    opacity: 1; /* Show text on hover */
}

/* Responsive Styles for Cards */
@media (max-width: 1200px) {
    .service-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns in a row */
    }
}

@media (max-width: 992px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns in a row */
    }
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr; /* Single column on mobile */
    }
}


.work-container {
    background: transparent;
    padding: 20px;
}

.card-work {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.w-card {
    /* background-color: #fff; */
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 0px;
    padding: 30px;
    margin: 20px 0;
    width: 1000px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    /* box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.7);  */
    transition: transform 0.2s, border 0.3s;
    position: relative;
}

.w-card h2 {
    margin-top: 0;
}

.w-card p {
    margin: 5px 0;
}




.w-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255, 255, 255, 0); /* Initially transparent border */
    border-radius: 0px;
    transition: border-color 0.3s; /* Transition for border color */
    pointer-events: none; /* Ensure it doesn't interfere with content */
}

.w-card:hover::before {
    border-color: rgba(255, 255, 255, 0.8); /* Border color on hover */
}

/* .w-card:hover {
    transform: translateY(-10px);
} */


 /* Responsive adjustments */
@media (max-width: 768px) {
    .w-card {
        padding: 15px; /* Reduced padding for smaller screens */
        margin: 8px 0; /* Reduced margin for smaller screens */
        width: 600px;
    }
}

@media (max-width: 480px) {
    .w-card {
        padding: 10px; /* Further reduced padding for very small screens */
        margin: 6px 0; /* Further reduced margin for very small screens */
        width: 300px;
    }
}



.contact-container{
    background: #000000;
}
.form-container {
    background-color: #222;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-top: 50px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-group input,textarea {
    width: 100%;
    padding: 10px 10px 10px 5px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: none;
    transition: all 0.3s ease;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: all 0.3s ease;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
    top: -15px;
    left: 5px;
    font-size: 12px;
    color: #ffffff;
}
.form-group textarea:focus ~ label,
.form-group textarea:not(:placeholder-shown) ~ label {
    top: -15px;
    left: 5px;
    font-size: 12px;
    color: #ffffff;
}

.btn-sub {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
